
<aside class="contact-us-footer">
  <strong>Compass Contracting, Inc.</strong><br/>
  For more information on these products &amp; services, please <a href="/pages/contact-us.html">contact us</a>:
  <table class="table-form">
    <tr>
      <th>Phone:</th>
      <td>(757) 827-5760</td>
    </tr>
    <tr>
      <th>Fax:</th>
      <td>(757) 827-5284</td>
    </tr>
    <tr>
      <th>Email:</th>
      <td><a href="mailto:info@compasscontracting.com">info@compasscontracting.com</a></td>
    </tr>
  </table>
</aside>
