<head>
  <meta charset="utf-8" />
  <meta name="keyword" content="Compass Contracting, concrete restoration, roofing, masonry restoration, waterproofing, coatings">
  <meta name="description" content="Compass Contracting - Industrial and commercial contractor offering a variety of specialty services including structural repairs, waterproofing, foam roofing, and secondary containment systems. Serving the Virginia and North Carolina area.">
  <meta name="google-site-verification" content="4nXibW2r7OSTn716T3AbXhm2DyRdx6vl7Q0X3Twr0bs" />
  <title>Compass Contracting, Inc. - {{ page.header || page.title }}</title>
  {% stylesheet application %}
</head>
