<!DOCTYPE HTML>
<html lang="en">
  {% include head.html %}
  <body>

    <section class="page">

      <section class="page-left">
        <section class="page-left-top">
          <section class="page-left-top-container">
            <img class="page-left-top-bg" src="{% asset_path page-left-top.jpg %}">
            <img class="page-left-top-logo" src="{% asset_path compass_contracting_logo.png %}">
            <nav class="nav-sections">
              <a class="home" href="/">&nbsp;Home&nbsp;</a>
              <ul>
                <li><a href="/pages/about-us.html">About Us</a></li>
                <li><a href="/pages/newsletters.html">Newsletters</a></li>
                <li><a href="/services/index.html">Services</a></li>
                <li><a href="/pages/client-list.html">Client List</a></li>
                <li><a href="/pages/job-application.html">Job Application</a></li>
                <li><a href="/pages/contact-us.html">Contact Us</a></li>
              </ul>
            </nav>
          </section>
        </section>
        <section class="page-left-bottom">
          <img class="page-left-bottom-img" src="{% asset_path page-left-bottom.jpg %}">
        </section>
      </section>

      <section class="page-center">
        <section class="page-center-header">
          <div class="title">{{ page.title }}</div>
          <div class="arch-box-tan-1"></div>
          <div class="arch-box-tan-2"></div>
          <div class="arch-box-navy-1"></div>
          <div class="arch-box-tan-3"></div>
        </section>
        <article class="page-center-content">
          <div class="page-center-services-text-padding"></div>
          {% if page.date %}<time class="post-date" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_string }}</time>{% endif %}
          <h1>{{ page.header }}</h1>
          {{ content }}
        </article>
        <footer class="page-footer">
          &copy; Copyright 2002-{{ site.time | date: "%Y" }} Compass Contracting, Inc. All rights reserved.
        </footer>
      </section>

      <section class="page-right">
        <div class="page-right-header">
          <div class="arch-box-navy-1"></div>
        </div>
        <nav class="page-right-services">
          <ul>
            <li>
              <div class="text"><a href="/services/expansion-joint-systems.html">Expansion Joint Systems</a></div>
              <div class="img"><aside class="expansion-joint-systems">&nbsp;</aside></div>
            </li>
            <li>
              <div class="text"><a href="/services/pedestrian-and-traffic-bearing-waterproof-membrane-systems.html">Pedestrian &amp; Traffic Bearing Waterproof Membrane Systems</a></div>
              <div class="img"><aside class="pedestrian-and-traffic-bearing-waterproof-membrane-systems">&nbsp;</aside></div>
            </li>
            <li>
              <div class="text"><a href="/services/water-repellants-and-waterproof-coatings.html">Water Repellants &amp; Waterproof Coatings</a></div>
              <div class="img"><aside class="water-repellants-and-waterproof-coatings">&nbsp;</aside></div>
            </li>
            <li>
              <div class="text"><a href="/services/foundation-water-proofing-drainage-systems.html">Foundation Water-proofing Drainage Systems</a></div>
              <div class="img"><aside class="foundation-water-proofing-drainage-systems">&nbsp;</aside></div>
            </li>
            <li>
              <div class="text"><a href="/services/plaza-deck-and-garden-roof-assemblies.html">Plaza Deck &amp; Green Roof Assemblies</a></div>
              <div class="img"><aside class="plaza-deck-and-garden-roof-assemblies">&nbsp;</aside></div>
            </li>
            <li>
              <div class="text"><a href="/services/masonry-restoration.html">Masonry Restoration</a></div>
              <div class="img"><aside class="masonry-restoration">&nbsp;</aside></div>
            </li>
            <li>
              <div class="text"><a href="/services/structural-concrete-repairs.html">Structural Concrete Repairs</a></div>
              <div class="img"><aside class="structural-concrete-repairs">&nbsp;</aside></div>
            </li>
            <li>
              <div class="text"><a href="/services/carbon-fiber-structural-reinforcement-systems.html">Carbon Fiber Structural Reinforcement Systems</a></div>
              <div class="img"><aside class="carbon-fiber-structural-reinforcement-systems">&nbsp;</aside></div>
            </li>
          </ul>
        </nav>
        <div class="page-right-bottom">
          <div class="arch-box-burgandy-1"></div>
          <div class="arch-box-brown-1"></div>
        </div>
      </section>

    </section>
    {% javascript application %}
  </body>
</html>
