<!DOCTYPE HTML>
<html lang="en">
  {% include head.html %}
  <body>
    <section class="page">

      <section class="page-left">
        <section class="page-left-top">
          <section class="page-left-top-container">
            <img class="page-left-top-bg" src="{% asset_path page-left-top.jpg %}">
            <img class="page-left-top-logo" src="{% asset_path compass_contracting_logo.png %}">
            <nav class="nav-sections">
              <ul>
                <li>About Us</li>
                <li>Newsletters</li>
                <li>Contact Us</li>
                <li>Client List</li>
                <li>Services</li>
              </ul>
            </nav>
          </section>
        </section>
        <section class="page-left-bottom">
          <img class="page-left-bottom-img" src="{% asset_path page-left-bottom.jpg %}">
        </section>
      </section>

      <section class="page-center">
        <article class="page-center-content">
          {{ content }}
        </article>
      </section>

      <section class="page-right">
      </section>

    </section>
  </body>
</html>